@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@200;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --grid-columns: 6fr 3fr 1.2fr 2.4fr 0.9fr
}

html,
body {
    margin: 0;
    padding: 5vh 0 0 0;
    font-family: Poppins, Arial, sans-serif;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Roboto Mono", monospace;
    margin-bottom: 0;
}

h2,
p {
    margin: 0;
    font-size: inherit;
}

h2 {
    display: inline-block;
    font-weight: 700;
    padding-right: 8px;
}

button {
    background-color: rgb(212, 212, 212);
    border: 2px solid black;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    background-color: rgb(177, 218, 177);
}

button:active {
    background-color: white;
}

#library-container {
    width: min(75vw, 800px);
}


/* Book boxes */

#book-container {
    margin: 24px 0;
}

.book {
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: 1fr 0;
    align-items: center;
    height: 40px;
}

.book:not(:first-of-type):hover {
    background-color: rgb(233, 207, 207);
    padding-left: 6px;
}

.book.read-bg:hover {
    background-color: rgb(215, 235, 215);
}

.book::after {
    content: "";
    grid-column: 1/-1;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.book>div {
    padding-right: 6px;
}

.book-sort {
    position: relative;
}

.book-sort:hover {
    cursor: pointer;
}

.sorter {
    display: inline-block;
    position: absolute;
    color: rgb(161, 161, 161);
    transform: rotate(0deg);
    transition: color 0.2s ease, transform 0.2s linear;
}

.book-sort:hover .sorter {
    color: black;
    transition: color 0.2s ease;
}

.sort-down {
    color: black;
    transform: rotate(90deg);
    transition: transform 0.2s ease;
}

.sort-up {
    color: black;
    transform: rotate(-90deg);
    transition: transform 0.2s ease;
}


/* Read Toggles */

.book-read {
    background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgb(240, 240, 240) 20%, rgb(240, 240, 240) 80%, rgba(0, 0, 0, 0) 80%);
    border: 0px solid rgb(194, 194, 194);
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    position: relative;
}

.book-read:hover * {
    border: 2px solid black;
    cursor: pointer;
}

.book-read * {
    height: 18px;
    width: 18px;
    border: 1px solid black;
    position: absolute;
    background-color: rgb(228, 175, 175);
    left: 0;
    right: auto;
    transition: transform 0.1s ease;
}

.read-true {
    background-color: rgb(178, 197, 173);
    transform: translateX(26px);
}


/* Book delete button */

.book-delete {
    position: absolute;
    z-index: 10;
    left: min(calc(50% + 400px + 12px), calc(37.5% + 50% + 12px));
    height: 16px;
    width: 16px;
    border: 1px solid grey;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-delete::after {
    content: "✕";
    font-size: 1.4rem;
    color: grey;
    display: inline-block;
    transform: translate(3px, 0px)
}

.book-delete:hover {
    cursor: pointer;
    border: 2px solid rgb(104, 58, 58);
    background-color: rgb(209, 106, 106);
}

.book-delete:hover::after {
    content: "DELETE";
    font-size: 1rem;
    position: absolute;
    left: 18px;
    color: grey;
}

/* Add Book button */

#footer-container button {
    height: 32px;
    width: 32px;
    font-size: 1.2rem;
}

.clicked {
    transform: rotate(180deg);
    transition: transform 0.3s ease-out;
}

.clicked:hover {
    background-color: rgb(230, 175, 175);
}

.clicked-reverse {
    transform: rotate(0deg);
    transition: transform 0.3s ease-out;
}


/* Add Book container */

#add-container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 24px 0;
    padding: 12px 0 16px;
    overflow: hidden;
}

.hidden {
    display: none;
}

#add-container hr {
    border-color: black;
}

#add-container form {
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: 24px 1fr;
    align-items: center;
    margin-bottom: 12px;
}

#add-container input {
    width: calc(100% - 24px);
    height: 28px;
    border: 1px solid black;
    font-size: 1.1rem;
    padding: 8px;
}

#add-container button {
    padding: 8px 10px;
}

[type="checkbox"] {
    width: 40px;
    height: 40px;
    transition: box-shadow .3s;
    cursor: pointer;
    border: 0;
    appearance: none;
    transform: translateX(-4px);
}

[type="checkbox"]:checked {
    box-shadow: inset 0 0 0 15px rgb(80, 80, 80);
}

@media only screen and (max-width: 1100px) {
    #library-container {
        width: 80vw;
    }

    .book {
        grid-template-columns: 4fr 3fr 1fr 0.8fr;
        height: 50px;
    }

    .book-genre,
    .book-genre-header {
        display: none;
    }

    .book-delete {
        left: min(calc(90% + 8px));
    }

    .book-read {
        background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgb(240, 240, 240) 20%, rgb(240, 240, 240) 80%, rgba(0, 0, 0, 0) 80%);
        width: 80%;
        height: 40%;
    }

    .book-read * {
        height: 16px;
        width: 16px;
    }

    .read-true {
        transform: translateX(calc(6vw - 16px));
    }
}

@media only screen and (max-width: 700px) {
    .book {
        grid-template-columns: 4fr 3fr 60px;
        height: 60px;
    }
    .book-year, .book-year-header {
        display: none;
    }
    .read-true {
        transform: translateX(32px);
    }
}